.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 8px solid black;
    width: 400px;
    height: 400px;
    gap: 20px;
}
.box p{
    font-size: 20px;
    font-weight: 800;   
}
.box img{
    width: 200px;
}

.gameBoxs{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.iconBtn{
    border: none;
    background-color: white;
    font-size: 35px;
    cursor: pointer;
    gap: 20px;
}

.btnsBox{
    margin-top: 65px;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}

.Win{
    border: 8px solid green;
    color: green;
}

.Lose{
    border: 8px solid red;
    color: red;
}

.Tie{
    border: 8px solid black;

}

.textWin{
    color: green;
}
.textLose{
    color: red;
}
.textTie{
    color: black;
}